@charset "utf-8";
/*
solve
*/
.msg{
background: rgb(113,223,113);
    color: rgb(38,88,38);
    padding: 0.813em 0;
}
.msg li:last-child{
    margin: 0;
    list-style-type: none;
}
.msg li:last-child{
    padding: 0 0.813em ;
    list-style-type: none;
}
.err{
    background: rgb(255,77,77);
    color: #fff;
}
.news{
    overflow-y: scroll;
    height: 400px;
}
.foot{

}
.foot h1{
    color:#2AB59C ;
    font-size: medium;
}
.foot h3{
    line-height: 2em;
    color:#fff ;
    font-size: medium;
}
.foot div{
    height: 200px;
    border-right: 1px solid #29292A;
    padding-right: 50px;

}
.wrapper{
    font-size: medium;
    border:1px;
    border-style: solid;
    border-color: antiquewhite;
    padding: 5px 5px 5px 5px;
    margin-bottom:15px;
    list-style:none;
    background-color:white;
    word-wrap: break-word;
    text-wrap: normal;
    overflow: auto;
}
#header-contact{
    color:white;
    width: 35%;
    display: inline-block;
    margin-left: 4%;
    padding-left: 0%;
    padding-top: 1%;
    font-size: 1.1em;
    font-weight: lighter;
    font-family: "Courier New", Courier;
}